.container-fluid {
  background-image: url(../img/portada7.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.container {
  padding-top: 4rem; }

.card-title {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'Ramabhadra', sans-serif; }

.card-body {
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff; }

.tar-pro {
  height: 15rem; }

.container-fluid {
  background-image: url(../img/portada7.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.card-columns {
  padding-top: 2rem; }

.card-title {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'Ramabhadra', sans-serif; }

.card-body {
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff; }

.container-fluid {
  background-image: url(../img/portada7.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.container {
  padding-top: 4rem; }

.ab-t {
  font-size: 2rem;
  text-transform: capitalize;
  background-color: #ff0202;
  font-family: 'Arya', sans-serif;
  text-align: center; }

.ab-p {
  background-color: rgba(255, 2, 2, 0.774);
  font-size: 1rem;
  font-family: 'Arya', sans-serif; }

.card-phy {
  max-width: 100%;
  height: 80rem;
  background-color: rgba(0, 0, 0, 0.837); }

.card-img-overlay {
  display: flex;
  /* width: 21em;
    height: auto; */ }
  .card-img-overlay .card-title {
    font-size: 2.5rem;
    margin-top: 3rem; }
  .card-img-overlay p {
    font-size: 1.3rem;
    text-align: justify;
    margin-bottom: 3rem; }

.card-header {
  color: rgba(240, 15, 15, 0.939);
  text-transform: capitalize;
  font-size: 2.5rem;
  text-align: center; }

.body-phy {
  padding: 0;
  padding-top: 3rem;
  opacity: 0.75;
  text-align: center;
  border-top: #ffffff 1px solid; }
  .body-phy .card-title {
    color: #ffffff; }
  .body-phy .text-phy {
    /* height:5rem; */
    font-size: 1rem;
    text-transform: lowercase;
    text-decoration: overline; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  /* background: rgba(95, 93, 93, 0.507); */
  background: url(../img/portada7.jpg); }

/* menu */
.imgContainer {
  background: url(../img/portada7.jpg);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 49.5em;
  padding-top: 9rem; }
  .imgContainer h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 6rem;
    letter-spacing: 1rem;
    font-family: 'Carter One', cursive;
    font-family: 'Coda Caption', sans-serif;
    font-family: 'Saira Stencil One', cursive;
    text-shadow: -2px -2px 1px white, 2px 2px 1px white, -2px 2px 1px white, 2px -2px 1px white; }

.menu {
  z-index: 2;
  display: flex;
  justify-content: center;
  height: 7.5rem;
  background-color: #f30909;
  border-color: #f30909;
  opacity: 0.9;
  border-style: solid;
  text-align: center;
  justify-content: center;
  border-bottom-color: #000000; }
  .menu li a {
    color: #000000;
    text-transform: capitalize;
    font-size: 2.5rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-decoration: none; }
    .menu li a:hover {
      -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
      transform: scale(1.01);
      text-shadow: 1px 1px 1px #ffffff;
      background-color: rgba(243, 9, 9, 0.487); }
  .menu #botonMenu {
    height: max-content; }

/* seccion eslogan*/
.section--2 {
  max-width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7); }
  .section--2 .boxMain {
    margin-top: 5rem;
    color: rgba(145, 138, 138, 0.953);
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 3rem;
    font-family: 'Odibee Sans', cursive;
    margin-bottom: 0.5rem; }
  .section--2 h2 {
    font-size: 4rem;
    text-shadow: 0.5px 0.5px #0c0c0c; }
  .section--2 span {
    font-size: 8rem;
    text-shadow: 1px 1px #ffffff; }
  .section--2 .textBox {
    width: 19rem;
    height: 6rem;
    font-family: 'Teko', sans-serif;
    font-size: 4.5rem;
    margin-bottom: 2.5rem;
    border-style: solid;
    border-color: black;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 2px #000000;
    color: #ffffff;
    background: #ff0202; }
  .section--2 a:link, .section--2 a:visited, .section--2 a:active {
    text-decoration: none; }
  .section--2 .botonEnviar {
    color: #ffffff;
    background-color: #ff0202;
    display: flex;
    justify-content: center; }

/* secccion contenido index */
.section--3 {
  justify-content: space-between;
  font-family: 'Odibee Sans', cursive;
  margin: 0.2rem 0; }
  .section--3 .box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 33rem;
    border-radius: 3px;
    border: 5px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.118);
    font-size: 3rem;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.85;
    color: #ffffff;
    /*  margin: 0 0.2rem;   */ }
    .section--3 .box a:link, .section--3 .box a:visited, .section--3 .box a:active {
      text-decoration: none; }
    .section--3 .box :hover {
      color: #ffffff;
      border: #da22226e solid 1px;
      background: #da22226e;
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: flex-end; }
  .section--3 .box1a {
    background-image: url(../img/imgIndex6.jpg); }
  .section--3 .box1b {
    background-image: url(../img/imgIndex18.jpg); }
  .section--3 .box1c {
    background-image: url(../img/imgIndex4.jpg); }
  .section--3 .box1d {
    background-image: url(../img/imgIndex5.jpg); }

/* -------tarjetas------- */
.info {
  width: auto;
  height: auto;
  border-radius: 18px;
  border: 1px solid;
  border-color: rgba(177, 177, 177, 0.85);
  padding: 1rem 0.3rem;
  box-shadow: 3px 3px rgba(177, 177, 177, 0.85);
  background: rgba(0, 0, 0, 0.253);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: justify;
  font-size: 1.4rem;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  padding: 2rem 7rem; }
  .info .sub-t1 {
    display: flex;
    justify-content: flex-end;
    font-size: 2.3rem;
    font-family: 'Odibee Sans', cursive;
    text-shadow: 2px 2px 2px #000000; }
  .info .sub-t2 {
    display: flex;
    font-size: 2.3rem;
    font-family: 'Odibee Sans', cursive;
    text-shadow: 2px 2px 2px #000000; }
  .info .sub-t3 {
    background: rgba(24, 24, 24, 0.7);
    border-radius: 3%;
    padding: 0px 0.3rem;
    color: rgba(177, 177, 177, 0.85); }

/* --------------footer------------ */
.gridFooterContainer {
  background: rgba(0, 0, 0, 0.905);
  height: auto;
  padding-top: 0.5rem;
  border-top: white solid 1px;
  border-bottom: white solid 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.gridFooterItem {
  display: flex;
  flex-direction: column;
  text-align: center; }
  .gridFooterItem ul {
    list-style-type: none; }
  .gridFooterItem .h4 {
    font-family: 'Carter One', cursive;
    font-family: 'Coda Caption', sans-serif;
    font-family: 'Saira Stencil One', cursive;
    font-size: 1fr;
    color: #ffffff;
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px #f30a0a; }
  .gridFooterItem .h3 {
    color: rgba(240, 15, 15, 0.939); }
  .gridFooterItem .socialM {
    color: #99c4e6;
    font-size: 2.5rem; }
  .gridFooterItem .colorI {
    color: rgba(225, 80, 27, 0.864);
    font-size: 1rem;
    letter-spacing: 0.3rem; }

.derechos .derecho__parrafo {
  /*   padding-right: 0; */
  width: 100%;
  background-color: rgba(240, 15, 15, 0.802);
  font-size: 1.3rem;
  text-align: center;
  /* font-size: 1.2rem; */ }

.items__footer {
  padding: 0 5em; }

@media screen and (max-width: 770px) {
  .imgContainer H1 {
    font-size: 5rem;
    margin-top: 4em;
    line-height: 2; } }

@media screen and (max-width: 800px) {
  .imgContainer H1 {
    font-size: 3rem;
    margin-top: 4em;
    line-height: 2; }
  .index__titulo h1 {
    font-size: 4rem; }
  .section--2 .boxMain {
    margin-top: 40em; }
    .section--2 .boxMain span {
      font-size: 6rem; }
  .section--2 .textBox {
    font-size: 3rem;
    padding: 0;
    width: 12rem;
    height: 6rem; }
  .info {
    padding: 0 1rem; }
  .carousel-item {
    transform: translateX(-400px); }
  .carousel-item--ultima {
    transform: translateX(-800px); } }

@media screen and (min-width: 768px) and (max-width: 799px) {
  .imgContainer H1 {
    font-size: 5rem;
    margin-top: 2em;
    line-height: 2; } }

@media screen and (min-width: 1024px) and (max-width: 1278px) {
  .section--2 .boxMain {
    margin-top: 10.5em; }
    .section--2 .boxMain h2 {
      margin-bottom: -0.5em; } }

@media screen and (max-width: 610px) {
  .gridFooterContainer .gridFooterItem {
    display: flex;
    flex-direction: column;
    max-width: auto; } }
