.card-phy{
max-width: 100%;
height: auto;
background-color: rgba(0, 0, 0, 0.837);
}
.card-img-overlay{
    width: 100%;
    height: auto;
    padding: 0;    
    .card-title{     
        font-size: 2.3rem;
        font-family: 'Oswald', sans-serif;
        text-align: center;
        background-color: rgba(42, 43, 43, 0.919);
        margin-bottom: 0;}

    p{
        font-size: 1.5rem;           
        text-align: justify;       
        color: rgba(240, 15, 15, 0.939);
        background-color: rgba(42, 43, 43, 0.919);
        font-family: 'Oswald', sans-serif;}
    .span-text{
        font-size: 1.8rem;
        padding-left: 5em;
        text-align: center;}       
}
#tarjeta-phy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.card-header{
    color: rgba(240, 15, 15, 0.939);
    text-transform: capitalize;
    text-decoration: underline;
    font-size: 2.5rem;
    text-align: center;
    height: auto;
    font-family: 'Oswald', sans-serif;    
}
.body-phy{    
    padding-top: 1rem;
    opacity: 0.75;    
    text-align: center;     
    border-top: #ffffff 1px solid; 
    .card-title{       
        color:#ffffff; 
        font-family: 'Arya', sans-serif;
        font-family: 'Oswald', sans-serif;
                     
    }
    .text-phy{        
        font-size: 1rem;        
        text-transform: lowercase;
        text-decoration:overline;

    }  
}
    #modal1{
        background-color: rgba(0, 0, 0, 0.8);
        color: #ffffff;
    }

    @media screen and (max-width:768px){
        .card-img-overlay{
            .card-title{
                font-size:1.5rem;
            }
            .card-text{
                font-size: 1rem;
                padding-bottom: 1em;             
        }       
    }
}
@media screen and (min-width:240px) and (max-width:540px){
    .card-img-overlay{
        margin-top: -8em;
        .card-title{
            font-size:1rem;
        }
        .card-text{
            font-size: 0.5rem;
            padding-bottom: 1em;             
    }       
}
}

    
