.container-fluid{
  background-image: url(../img/portada7.jpg);
  background-repeat: no-repeat;
  background-size: cover;   
}
.card-title{
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'Ramabhadra', sans-serif;
}
.card-body{
  background: rgba(0, 0, 0, 0.7);
  color:#ffffff;
}
    
.tar-pro{
  height: 15rem;  
}


   